* {
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(220, 248, 217);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 50px;
}

.flex-gato {
  border: solid 8px rgba(155, 154, 154, 0.63);
  border-radius: 20px;
  display: flex;
  height: 500px;
  width: 500px;
  padding: 10px;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

.flex-gato div {
  font-style: arial;
  font-size: 40px;
  border: solid 5px rgb(190, 169, 181);
  border-radius: 10px;
  padding: 8%;
  width: 130px;
  height: 130px;
}
